{% extends 'base.html' %}
{% block title %}
        Allowed Interactions
{% endblock %}

{% block content %}
<body>
    <div class="bg-dark text-secondary px-4 py-5 text-center ">
        <img class="d-block mx-auto mb-4" src="/static/assets/input-cursor-text.svg" alt="" width="72" height="57">
        <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Please fill in the following fields</h1>
        <div class="mb-3"> 
            <label for="formGroupExampleInput" class="form-label text-white">Which column would you like to operate on?</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="example: 7_2009">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label text-white">What would you like your results to be called?</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="example: census_2009_parsed">
          </div>
          <button class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="submit" value="Submit">Submit</button>
</body>
{% endblock %}